$color-primary: #E23135;
$color-primary-light: #F6585C;
$color-primary-lighter: #FFAAAC;
$color-primary-lightest: #ffefef;

$color-gray-light: #F3F3F3;
$color-gray-lighter: #f5f5f5;
$color-gray-lightest: #f7f7f7;

$color-gray-dark: #777;
$color-gray-darker: #585858;
$color-gray-darkest: #3A3A3A;

$color-white: #fff;

$default-f-size: 1.75rem; 
$navbar-height: 14vh